<h1><%= @business.biz_name %><span class="biz-category" > <%= logo(@business.sid_category.sid_category_id) %></span></h1>

<% if @business.sid_editorial %>
  <p class="lead"><%= @business.website_description %></p>
<% end %>

<% if @business.address_line_1 %>
  <p><%= fa_icon "map-marker"%> <%= "#{@business.address_line_1}" %>, <%= @business.address_line_2 %></p>
<% end %>

<% if @business.telephone %>
  <p><%= fa_icon "phone"%> <%= link_to "#{@business.telephone}", "tel:+1#{@business.telephone.gsub(/[^\d]/, '')}"  %></p>
<% end %>

<% if @business.email %>
  <p><%= fa_icon "envelope-o" %> <%= link_to @business.email, "mailto:#{@business.email}", target: "_blank" %></p>
<% end %>

<% if @business.website %>
  <p><%= fa_icon "window-maximize" %> <%= link_to "Website", @business.website.html_safe, target: "_blank" %></p>
<% end %>
