<%= link_to business_path(business) do %>
<div class="well well-lg biz-listing">
  <span class="biz-deal-listing"><%= business.deal ? business.deal.desc_short : "NA"  %></span>
  <h3><%= business.biz_name %>  <span class="list-category" ><%= business.sid_category.label %> <%= logo(business.sid_category.sid_category_id) %></span></h3>
  <% if business.open? %>
    <p class="text-success small">Open</p>
  <% else %>
    <p class="text-danger small">Closed</p>
  <% end %>
  <span> <%= business.distance_to(@region).round(2) %> Miles away</span>
  <h6><%= business.full_address %></h6>
</div>
<% end %>
