<div class="well well-lg ui-well">
  <div class="row">
    <div class="col-xs-8">
      <h3><%= link_to business.biz_name, business_path(business) %> </h3>
      <h5><%= business.region.name %></h5>
      <h6><%= business.full_address %></h6>
    </div>
    <div class="col-xs-4">
      <% if deal = business.deal %>
        <h3 class="deal-label"><span class="label label-info"><%= deal.desc_short %></span></h3>
      <% else %>
        <h3 class="deal-label"><span class="label label-info">NA</span></h3>
      <% end %>
    </div>
  </div>
  <hr class="divider" />

  <% if business.sub_categories.any? %>
    <% category_links = business.sub_categories.includes(:sid_category).map {|sub| link_to(sub.label, region_category_and_subcategory_path(business.region, sub.sid_category, sub)) }.join(", ") %>
    <dl class="dl-horizontal">
      <dt>Categories:</dt>
      <dd><%= category_links.html_safe %></dd>
    </dl>
  <% end %>

  <% if deal = business.deal %>
    <% if deal.details %>
      <dl class="dl-horizontal">
        <dt>Deal info:</dt>
        <dd><%= deal.details %></dd>
      </dl>
    <% end %>

    <% if deal.desc_student %>
      <dl class="dl-horizontal">
        <dt>Student deal info:</dt>
        <dd><%= deal.details %></dd>
      </dl>
    <% end %>
  <% end %>

  <% if business.hours.today.any? %>
    <dl class="dl-horizontal">
      <dt>Hours today:</dt>
      <dd><%= business.hours.today.map {|hour| "#{hour.open_at_display} - #{hour.close_at_display}"}.join(', ') %> <%= business.open? ? "<span class='text-success'>Open</span>".html_safe : "<span class='text-danger'>Closed</span>".html_safe %></dd>
    </dl>
  <% end %>

  <% if business.telephone %>
    <dl class="dl-horizontal">
      <dt>Phone:</dt>
      <dd><%= link_to "#{business.telephone}", "tel:+1#{business.telephone.gsub(/[^\d]/, '')}"  %></dd>
    </dl>
  <% end %>

</div>
