<div class="well well-lg">
  <%= link_to region_business_path(@region, business ) do %><h3><%= business.biz_name %>  <% end %><span class="list-category" ><%= business.sid_category.label %> <%= logo(business.sid_category.sid_category_id) %></span></h3><span> <%= business.distance_to(@region).round(2) %> Miles away</span>
  <h6><%= business.full_address %></h6>
</div>