<div class="col-md-7">
  <h3><%= @business.biz_name %><span class="list-category" >  <%= @business.sid_category.label %> <%= logo(@business.sid_category.sid_category_id) %></span></h3>
  <% if @business.sid_editorial %>
    <p><%= @business.sid_editorial %></p>
  <% end %>
  <strong>Address:</strong>
  <p><%= @business.address_line_1 if @business.address_line_1 %></p>
  <p><%= @business.address_line_2 if @business.address_line_2 %></p>
  <p><%= "Phone: #{@business.telephone}" if @business.telephone %></p>
  <% if @business.email %>
    <p><%= link_to @business.email, "mailto:#{@business.email}", target: "_blank" %></p>
  <% end %>
  <% if @business.website %>
    <p><%= link_to "Website", @business.website, target: "_blank" %></p>
  <% end %>
</div>
<div class="col-md-5 well well-lg"> 
    <div style="width: 100%;height: 350px" id="map"></div>
  <h6>Similar <%= @business.sid_category.label %> businesses</h6>
  <% @close_similar_businesses.each do |business| %>
    <%= link_to region_business_path(@region, business ) do %><h3><%= business.biz_name %></h3><% end %><span> <%= business.distance_to(@business).round(2) %> Miles away</span>
  <% end %>
  <hr>
  <h6>Other businesses nearby</h6>
  <% @close_businesses.each do |business| %>
    <%= link_to region_business_path(@region, business ) do %><h3><%= business.biz_name %><% end %><span class="list-category" >  <%= business.sid_category.label %> <%= logo(business.sid_category.sid_category_id) %></h3><span> <%= business.distance_to(business).round(2) %> Miles away</span>
  <% end %>
</div>

<script>
$(document).ready(function() {
  L.mapbox.accessToken = 'pk.eyJ1Ijoia2V2aW5qY29sZW1hbjciLCJhIjoiY2lrN29mcWRlMDIybXVua3RyY2VjcGZqaiJ9.G8ZC3oCreukIyVHftgWXCQ';
  var map = L.mapbox.map('map', 'kevinjcoleman7.0b0f7dei').setView([<%= @business.latitude %>, <%= @business.longitude %>], 15 );
  var myLayer = L.mapbox.featureLayer().addTo(map);
  myLayer.on('layeradd', function(e) {
    var marker, popupContent, properties;
    marker = e.layer;
    properties = marker.feature.properties;
    popupContent = '<div class="popup"><a href="' + properties.url + '"><h3>' + properties.name + '</h3></a><p><strong>Address:</strong> ' + properties.address + '</p></div>';
    return marker.bindPopup(popupContent, {
      closeButton: true,
      minWidth: 300
    });
  });
  $.ajax({
    dataType: 'text',
    url: '/region/<%= @region.slug %>/businesses/<%= @business.slug %>.json',
    success: function(data) {
      var geojson;
      geojson = $.parseJSON(data);
      return myLayer.setGeoJSON(geojson);
    }
  });
    // featureLayer.getBounds() returns the corners of the furthest-out markers,
    // and map.fitBounds() makes sure that the map contains these.
  map.fitBounds([<%= @other_businesses_lat_lng_array %>]);
});
</script>