<% if @region %>
  <%= render "region_results" %>
<% elsif any?(@regions) && any?(@bizCats) %>
  <h1 class="text-center">Regions/Schools matching <strong><%= params[:currentLocationValue] %></strong></h1>
  <%= render partial: "results_regions", locals: {regions: @regions} %>
  <h2 class="text-center">Results matching <strong><%= params[:bizCatTerm] %></strong></h2>
  <%= render partial: "results_bizcats", locals: {bizCats: @bizCats} %>
<% elsif any?(@regions) %>
  <h1 class="text-center">Regions/Schools matching <strong><%= params[:currentLocationValue] %></strong></h1>
  <%= render partial: "results_regions", locals: {regions: @regions} %>
<% elsif any?(@bizCats) %>
  <h1 class="text-center">Results matching <strong><%= params[:bizCatTerm] %></strong></h2>
  <%= render partial: "results_bizcats", locals: {bizCats: @bizCats} %>
<% else %>
  <div class="well ui-well">
    <h1 class="text-center">Sorry, your search didn't yield any results.</h1>
    <hr />
    <div class="errorimage" style="margin: auto; max-width: 65%;">
      <%= image_tag("/assets/closed_sign_SIDT.jpeg", class: "img-responsive") %>
    </div>
  </div>
<% end %>
