<% meta title: "Home",
   description: "Get more when you go out." %>

<div class="jumbotron center homepage-container">
  <h1>Get more when you go out.</h1>
  <%= react_component('Search') %>
  <%= render "layouts/app_store_badge" %>
</div>

<div class="row listing-container">
  <div class="toggle_parent col-md-6">
    <div class='toggleHolder'>
      <h3 class='toggler'>Business Categories <%= fa_icon "chevron-down" %></h3>
      <h3 class='toggler' style='display:none;'>Business Categories <%= fa_icon "chevron-up" %></h3>
    </div>
    <div class='toggled_content' style='display:none;'>
      <ul class="list center">
      <% @categories.each do |category| %>
        <li class="list-item"><%= link_to "#{category.label}", category_path(category) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="toggle_parent col-md-6">
    <div class='toggleHolder'>
      <h3 class='toggler'>States <%= fa_icon "chevron-down" %></h3>
      <h3 class='toggler' style='display:none;'>States <%= fa_icon "chevron-up" %></h3>
    </div>
    <div class='toggled_content' style='display:none;'>
      <ul class="list center">
        <% @states.each do |state| %>
          <li class="list-item"><%= link_to "#{state.state}", state_path(state.state) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
