<div class="modal fade" id="splash-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="splash-modal modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center">Discover the College Town in your City<span class="tm-span">&#8482;</span></h3>
      </div>
      <div class="modal-body">
        <div class="modal-categories row">
          <%= image_tag("/assets/icon_food_drink_hollow_hover.png", class: "col-xs-2 col-xs-offset-1") %>
          <%= image_tag("/assets/icon_somethingtodo_hollow_Hover.png", class: "col-xs-2") %>
          <%= image_tag("/assets/health_beauty_hollow_Hover.png", class: "col-xs-2") %>
          <%= image_tag("/assets/icon_shopping_hollow_Hover.png", class: "col-xs-2") %>
          <%= image_tag("/assets/more_cateogry_hollow_hover.png", class: "col-xs-2") %>
        </div>
        <h2 class="text-center">Discover. Save. Share.<span class="tm-span">&#8482;</span></h2>
        <div class="ad-badge text-center">
          <%= render "layouts/app_store_badge" %>
        </div>
      </div>
      <div id="modal-signup-form" class="modal-footer">
        <%= render "layouts/signup_form" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
