<!DOCTYPE html>
<html>
<head>
  <%=  metamagic site: "StudentIdeals",
                 title: [:title, :site], separator: " | ",
                 description: :description
     %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="1pnbwbMgcD_XH2oWKigeQ5Eaf7N1UQVmC2CP9ihCbV8" />
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <% if Rails.env.test? %>
    <script>$.support.transition = false</script>
  <% end %>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <link rel="icon" type="image/png" href="https://pbs.twimg.com/profile_images/511606964548145152/rhUOt4ui.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'layouts/nav' %>
  <% unless current_page?(:controller => 'pages', :action => 'home') %>
    <div class="well search-container">
      <%= react_component('Search') %>
    </div>
  <% end %>
<div class="container main-container">
  <%= render 'layouts/messages' %>
  <%= render 'layouts/breadcrumbs' %>
  <%= yield %>
  <% unless splashed? %>
  <%= render 'layouts/splash' %>
  <% end %>
</div>
<%= render 'layouts/ad' %>
<%= render 'layouts/footer' %>
</body>
</html>
