<!DOCTYPE html>
<html>
<head>
  <title>StudentIdeals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <link rel="icon" type="image/png" href="https://pbs.twimg.com/profile_images/511606964548145152/rhUOt4ui.png">
</head>
<body>
  <%= render 'layouts/nav' %>
<div class="container main-container">
  
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>
</body>
</html>
